# Configuracion del Entorno
PROJECT_NAME="Proyecto Monolito - Arquitectura de Sistemas"
API_V1_STR="/api/v1"
BACKEND_CORS_ORIGINS=["http://localhost:4200","http://127.0.0.1:4200"]

# Base de Datos (SQLite por defecto para desarrollo, extensible a PostgreSQL/MySQL)
DATABASE_URL="sqlite:///./monolito.db"

# Configuracion del Servidor
HOST="127.0.0.1"
PORT=8000
DEBUG=True
